.DisplayStudent {
    display: flex;
    justify-content: center;
}
  
  .DisplayStudent p {
    min-width: 150px;
    margin: 0.5rem;
    border: 0.15rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #242424;
    color: antiquewhite;
  }